# Check http://editorconfig.org for more information about this file

# This file is used as a fallback for projects with missing
# .editorconfig plugin

root = true

[*]
charset = utf-8
indent_style = space
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.sh]
indent_style = space
indent_size = 2

[scripts/*]
indent_style = space
indent_size  = 2

[shell/*]
indent_style = space
indent_size  = 2
