# Compiled Zsh
shell/zsh/**/**.zwc
shell/zsh/**/**.zwc.old
shell/zsh/**/**.zcompdump

# Compiled binaries
bin/compiled/

# Python cache
/**/__pycache__/

# Current wallpaper
misc/walls/.wall.jpg

# Night mode file
util/redshift/.night-shift-enabled
