# Compiled Zsh
shell/**/**.zwc
shell/**/**.zwc.old
shell/**/**.zcompdump
shell/**/.zcompcache

# Compiled binaries
bin/compiled/

# Python cache
/**/__pycache__/

# Current wallpaper
misc/walls/.wall.jpg

# Night mode file
util/redshift/.night-shift-enabled
