*.no-commit.*

secrets.env

/**/__pycache__/
bin/compiled/
misc/walls/.wall.jpg
util/redshift/.night-shift-enabled

# compiled zsh things
shell/**/**.zwc
shell/**/**.zwc.old
shell/**/**.zcompdump
shell/**/.zcompcache

# track specific SSH config files, ignore the rest
ssh/**
!ssh/config
!ssh/.hidden_hosts.encrypted

editors/nvim_legacy/
