* {
    border: none;
    border-radius: 0;
    font-family: "SF Pro Text Bold";
    font-weight: bold;
    font-size: 11px;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

@keyframes blink-charge {
    to { color: #d1d1d1; }
}

#waybar {
    background: rgba(0, 0, 0, 1);
    color: white;
}

tooltip {
    background: black;
}
tooltip label {
  color: white;
}

#workspaces {
    margin-left: 7px;
}

#workspaces button label {
    font-weight: bolder;
}

#workspaces button {
    background: transparent;
    color: white;
    margin-right: 6px;
    padding: 0 4px;
    border-bottom: 2px solid transparent;
    transition: all ease-in-out .2s;
}

#workspaces button.active {
    border-bottom: 2px solid rgba(255, 255, 255, 0.9);
}

#workspaces button:hover {
    padding: 0 16px;
}

#battery.charging {
    color: #000;
    animation-name: blink-charge;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.warning:not(.charging) {
    background: #f53c3c;
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #fff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#mode, #date, #clock, #battery, #network, #pulseaudio, #backlight, #bluetooth {
    background: #fff;
    color: #000;
    margin: 4px 0;
    padding: 0 0.3em;
}

#clock {
	margin-left: 7px;
    margin-right: 13px;
    padding: 0 0.6em;
    border-radius: 3px;
}

#battery {
    padding-right: 0.6em;
	border-radius: 0 3px 3px 0;
}

#bluetooth {
    padding-left: 0.6em;
	border-radius: 3px 0 0 3px;
}

#bluetooth.disabled {
    color: gray;
}
